.container{
    /* display: flex; */
    /* gap: 4%; */
    background: url(background4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15% 2% 2% ;
    /* background-color: blue; */
    position: relative;
}
h2{
        color: #fff;
        font-weight: bold;
        position: absolute;
        top: 3%;
        right: 5%;
    }
.card {
--bs-card-spacer-y: 1rem;
--bs-card-spacer-x: 1rem;
--bs-card-title-spacer-y: 0.5rem;
--bs-card-title-color: ;
--bs-card-subtitle-color: ;
--bs-card-border-width: var(--bs-border-width);
--bs-card-border-color: var(--bs-border-color-translucent);
--bs-card-border-radius: ;
--bs-card-box-shadow: ;
--bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
--bs-card-cap-padding-y: 0.5rem;
--bs-card-cap-padding-x: 1rem;
--bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
--bs-card-cap-color: ;
--bs-card-height: ;
--bs-card-color: ;
--bs-card-bg: var(--bs-body-bg);
--bs-card-img-overlay-padding: 1rem;
--bs-card-group-margin: 0.75rem;
position: relative;
display: flex;
flex-direction: column;
min-width: 0;
height: var(--bs-card-height);
color: var(--bs-body-color);
word-wrap: break-word;
background-color: var(--bs-card-bg);
background-clip: border-box;
border: var(--bs-card-border-width) solid var(--bs-card-border-color);
border-radius: var(--bs-card-border-radius);
position: relative;
}
h5{
    font-weight: bold;
}
.details{
    font-size: 12px;
}
.card-img-top1{
    width: 93%;
    align-self: center;
    /* margin: auto; */
    position: absolute;
    top: -6.5%;
}
.imagetext{
    justify-content: center;
    color: #fff;
    position: absolute;
    left: 25%;
}
.card-title{
    font-weight: bold;
}
.card-text1{
    text-align: center;
    padding-top: 65%;
}

.card-body3{
    text-align: left;
    padding: 7%;
}
.imagetext .one{
    background: transparent;
    font-size: 10px;
    padding: 7px;
    border-radius: 30px;
    margin: 10px;
}
    
.imagetext .one{
    background: transparent;
    font-size: 20px;
    padding: 7px;
    border-radius: 30px;
    margin: 10px;
}
.fa-brands{

    font-size: 10px;
    padding: 7px;
    border-radius: 30px;
    margin: 10px;
}
.fa-solid{
    font-size: 20px;
    padding: 7px;
    border-radius: 30px;
    margin: 10px;
}
.btn{
    margin-top: 18%;
}
.container2{
    background-color: rgb(234, 230, 232);
    padding: 2%;
    margin: 2%;
}


/* Overall reponsiveness begins here */
@media (max-width: 767px;){
    .container{
        position: relative;
    }
    h2{
        position: absolute;
        top: 0;
        right: 0;
    }
}